/* 
html5doctor.com Reset Stylesheet
Inspired by Richard Clark - http://richclarkdesign.com 
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    /*Added for background picture */
    background: url('images/birdSil.jpg') no-repeat;
    background-size: cover;
    font-family: Arial;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* My code */

.main-wrapper {
    margin: 0 auto;
    width: 1000px;
}

.main-wrapperportfolio {
    margin: 0 auto;
    width: 1000px;
}


a {
    text-decoration: none;
}

body {
    background-color: #ccc;
}

header nav {
    width: 100%;
    height: 60px;
    background-color: #fff;
}

header nav ul {
    float: left;
}

header nav ul li {
    float: left;
    list-style: none;
    padding-right: 20px;
}

header nav ul li a {
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 63px;
}


header .nav-login {
    float: right;
}

header .nav-login form {
    float: left;
    padding-top: 15px;
}


header .nav-login form input {
    float: left;
    width: 140px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: none;
    background-color: #ccc;
    font-family: arial;
    font-size: 14px;
    color: #111;
    line-height: 30px;
}

header .nav-login form button {
    float: left;
    width: 60px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: none;
    background-color: #f3f3f3;
    font-family: arial;
    font-size: 14px;
    color: #111;
    cursor: pointer;
}

header .nav-login form button: hover {
    background-color: #ccc;
}

header .nav-login a {
    display: block;
    width: 60px;
    height: 60px;
    border: none;
    background-color: #fff;
    float: left;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 63px;
    cursor: pointer;
}

.main-container {
    padding-top: 40px;
}


.main-container h2 {
    font-family: arial;
    font-size: 40px;
    color: #111;
    line-height: 50px;
    text-align: center;
}

.img-test {
    transition: all 2s ease-in 0.5s;
    -webkit-transition: all 2s ease-in 0.5s;
    -moz-transition: all 2s ease-in 0.5s;
    -o-transition: all 2s ease-in 0.5s;
    background-position: 2px 2px;
}

.img-test:hover {
    background-image: url("images/firefoxLogoHover.png");
    background-size: 55px 55px;
    background-repeat: no-repeat;
}

.button-test {
    transition: all 0.1s ease-in 0.1s;
    -webkit-transition: all 0.1s ease-in 0.1s;
    -moz-transition: all 0.1s ease-in 0.1s;
    -o-transition: all 0.1s ease-in 0.1s;
    background-size: 55px 55px;
    background-position: 2px 2px;
}

.button-test:hover {
    background-color: #e2e2e2;
    background-repeat: no-repeat;
}

/*portfolio.php*/
.portfolio-collection {
    width: 800px;
    margin: 0 auto;
    padding-left: 30px;
}


 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 25%;
  padding-left: 140px;
  padding-top: 50px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 


/*signup.php*/

.signup-form {
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}


.signup-form input {
    width: 90%;
    height: 40px;
    padding: 0px 5%;
    margin-bottom: 4px;
    border: none;
    background-color: #fff;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 40px;
}


.signup-form button {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    border: none;
    background-color: #222;
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.signup-form button: hover {
    background-color: #111;
}

/* Contact */
.form-wrapperContact {
  background-image:  url("images/cartoonish.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:fixed
}

.fatnicetext {
    font-size: 32px;
    font-weight: bold;
    font-family: Arial;
}

/* About */

/* White box class for box */
.whitebox {
    height: 500px;
    width: 1000px;
    background-color: white;
    padding: 10px;
}

.grid { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "title title"
    "header header"
    "sidebar content"
    "footer footer";
    grid-gap: 10px;
}

.grid div:nth-child(even) {
    background-color: #fafafa;
}

.grid div:nth-child(odd) {
    background-color: #fafafa;
}

.title {
    grid-area: title;
    font-size: 32px;
    font-weight: bold;
    font-family: Arial;
    justify-self: center;
}

.header {
    grid-area: header;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    display:block;
    justify-self: center;
}

.sidebar {
    grid-area: sidebar;
    justify-self: center;
}

.content {
    grid-area: content;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    display:block;
    justify-self: center;
}

.footer {
    grid-area: footer;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    display:block;
    justify-self: center;
}

@media screen and (min-width: 736px) {
    .grid {
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". title title ."
    ". header header ."
    ". sidebar content ."
    ". footer footer .";
    }
}

video {
    width: 100%;
}