/*body {
    line-height:1;
    background: url('../../images/birdSil.jpg') no-repeat;
    background-size: cover;
    font-family: Arial;
}*/

#game-area {
	float: center;
	width: 600px;
	height: 600px;
	background-color: #043304;
}

#game-area, td {
	border: 1px solid #000000;
	border-collapse: collapse;
}

.draw-player {
	background-color: #22ff00 !important;
}

.draw-point {
	background-color: #ffffff;
}

#game-status {
	align-content: center;
	font-family: arial;
	font-weight: 200;
	color: white;
	font-size: 40px;
}

.game-score {
	align-content: center;
	font-family: arial;
	font-weight: 200;
	color: white;
	font-size: 40px;
}