#game-area {
	width: 300px;
	height: 300px;
	background-color: rgb(36,36,36);
}

#game-area, td {
	border: 1px solid rgb(187,187,187);
	border-collapse: collapse;
}

.draw-player {
	background-color: #fff !important;
}

.draw-point {
	background-color: rgb(245, 62, 62);
}

#game-status {
	font-family: arial;
	font-size: 20px;
}

.game-score {
	font-family: arial;
	font-size: 20px;
}